.img{
    width: 200px;
    height: 100%;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
body{
    text-align: -webkit-center;
}
.main{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* border: 1px solid black; */
    width: 400px;
    height:200px;
    border-radius: 5px;
    box-shadow: grey 0px 0px 10px;
}
.project {
    position: absolute;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}
.title {
    top: 15%;
    left: 8%
}

.descr {
    top: 45%;
    left: 8%;
    font-size: 11px;
    font-weight: lighter;
}

.btn {
    border-radius: 20px;
    border: 0px;
    background-image: linear-gradient(to right, #24C6DC 0%, #514A9D 51%, #24C6DC 100%);
    top: 65%;
    left: 10%;
    height:25px;
    color: white;
    font-size: 8px;
    font-weight: lighter;
    text-align: center;
    padding: 0 7%;
    transition: 0.5s;
    box-shadow: 0 0 20px #eee;
    background-size: 200% auto;
}

.btn:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}